* {
    background-color: rgb(169, 241, 232);
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 140);
}

img {
    height: auto;
    width: 400px;
}

ul {
    padding-left: 0;
}

.title, .subtitle, .recipe-list {
    text-align: center;
}

.recipe-list {
    list-style-type: none;
}

.title {
    margin-bottom: 8px;
}

.subtitle {
    margin-top: 0;
}