* {
    background-color: rgb(169, 241, 232);
    font-family: 'Courier New', Courier, monospace;
}

.title, .subtitle, .recipe-list {
    text-align: center;
}

.recipe-list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(250, 0, 137);
}

img {
    height: auto;
    width: 400px;
}
