* {
    background-color: rgb(169, 241, 232);
    font-family: 'Courier New', Courier, monospace;
}

.recipe-list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(250, 0, 137);
}

